annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
click
colorama
fastapi
frozendict
greenlet
h11
idna
multitasking
mysql-connector-python
mysqlclient
numpy
pandas
peewee
platformdirs
pydantic
pydantic_core
PyMySQL
python-dateutil
python-dotenv
pytz
requests
six
sniffio
soupsieve
SQLAlchemy
starlette
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
yfinance
flask
dotenv